{% extends 'base.html.twig' %}

{% block title %}Factuur{% endblock %}

{% block body %}
    <h1>Factuur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ factuur.id }}</td>
            </tr>
            <tr>
                <th>FactuurDatum</th>
                <td>{{ factuur.FactuurDatum ? factuur.FactuurDatum|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('factuur_index') }}">back to list</a>

    <a href="{{ path('factuur_edit', {'id': factuur.id}) }}">edit</a>

    {{ include('factuur/_delete_form.html.twig') }}
{% endblock %}
