{% extends 'base.html.twig' %}

{% block title %}CursusType index{% endblock %}

{% block body %}
    <h1>CursusType index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Naam</th>
                <th>Max_aantal</th>
                <th>Prijs</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cursus_type in cursus_types %}
            <tr>
                <td>{{ cursus_type.id }}</td>
                <td>{{ cursus_type.naam }}</td>
                <td>{{ cursus_type.maxAantal }}</td>
                <td>{{ cursus_type.prijs }}</td>
                <td>
                    <a href="{{ path('cursus_type_show', {'id': cursus_type.id}) }}">show</a>
                    <a href="{{ path('cursus_type_edit', {'id': cursus_type.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('cursus_type_new') }}">Create new</a>
{% endblock %}
