{% extends 'base.html.twig' %}

{% block title %}CursusType{% endblock %}

{% block body %}
    <h1>CursusType</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cursus_type.id }}</td>
            </tr>
            <tr>
                <th>Naam</th>
                <td>{{ cursus_type.naam }}</td>
            </tr>
            <tr>
                <th>Max_aantal</th>
                <td>{{ cursus_type.maxAantal }}</td>
            </tr>
            <tr>
                <th>Prijs</th>
                <td>{{ cursus_type.prijs }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('cursus_type_index') }}">back to list</a>

    <a href="{{ path('cursus_type_edit', {'id': cursus_type.id}) }}">edit</a>

    {{ include('cursus_type/_delete_form.html.twig') }}
{% endblock %}
