{% extends 'base.html.twig' %}

{% block title %}Cursus index{% endblock %}

{% block body %}
    <h1>Cursus index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Cursus_type</th>
                <th>Date_time</th>
                <th>Instructeur</th>
                <th>Opmerking</th>
                <th>Max_aantal</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cursus in cursuses %}
            <tr>
                <td>{{ cursus.id }}</td>
                <td>{{ cursus.cursusType.naam }}</td>
                <td>{{ cursus.dateTime ? cursus.dateTime|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ cursus.Instructeur }}</td>
                <td>{{ cursus.opmerking }}</td>
                <td>{{ cursus.maxAantal }}</td>
                <td>
                    <a href="{{ path('cursus_show', {'id': cursus.id}) }}">show</a>
                    <a href="{{ path('cursus_edit', {'id': cursus.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('cursus_new') }}">Create new</a>
{% endblock %}
