{% extends 'base.html.twig' %}

{% block title %}Cursus{% endblock %}

{% block body %}
    <h1>Cursus</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cursus.id }}</td>
            </tr>
            <tr>
                <th>Cursus_type</th>
                <td>{{ cursus.cursusType }}</td>
            </tr>
            <tr>
                <th>Date_time</th>
                <td>{{ cursus.dateTime ? cursus.dateTime|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Instructeur</th>
                <td>{{ cursus.Instructeur }}</td>
            </tr>
            <tr>
                <th>Opmerking</th>
                <td>{{ cursus.opmerking }}</td>
            </tr>
            <tr>
                <th>Max_aantal</th>
                <td>{{ cursus.maxAantal }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('cursus_index') }}">back to list</a>

    <a href="{{ path('cursus_edit', {'id': cursus.id}) }}">edit</a>

    {{ include('cursus/_delete_form.html.twig') }}
{% endblock %}
