{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>User index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Voornaam</th>
                <th>Tussenvoegsel</th>
                <th>Achternaam</th>
                <th>Geboortedatum</th>
                <th>Adres</th>
                <th>Woonplaats</th>
                <th>Telefoon</th>
                <th>Email</th>
                <th>Wachtwoord</th>
                <th>Rol</th>
                <th>Postcode</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.Voornaam }}</td>
                <td>{{ user.tussenvoegsel }}</td>
                <td>{{ user.achternaam }}</td>
                <td>{{ user.geboortedatum ? user.geboortedatum|date('Y-m-d') : '' }}</td>
                <td>{{ user.adres }}</td>
                <td>{{ user.woonplaats }}</td>
                <td>{{ user.Telefoon }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.wachtwoord }}</td>
                <td>{{ user.rol }}</td>
                <td>{{ user.Postcode }}</td>
                <td>
                    <a href="{{ path('user_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_new') }}">Create new</a>
{% endblock %}
