{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Voornaam</th>
                <td>{{ user.Voornaam }}</td>
            </tr>
            <tr>
                <th>Tussenvoegsel</th>
                <td>{{ user.tussenvoegsel }}</td>
            </tr>
            <tr>
                <th>Achternaam</th>
                <td>{{ user.achternaam }}</td>
            </tr>
            <tr>
                <th>Geboortedatum</th>
                <td>{{ user.geboortedatum ? user.geboortedatum|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Adres</th>
                <td>{{ user.adres }}</td>
            </tr>
            <tr>
                <th>Woonplaats</th>
                <td>{{ user.woonplaats }}</td>
            </tr>
            <tr>
                <th>Telefoon</th>
                <td>{{ user.Telefoon }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Wachtwoord</th>
                <td>{{ user.wachtwoord }}</td>
            </tr>
            <tr>
                <th>Rol</th>
                <td>{{ user.rol }}</td>
            </tr>
            <tr>
                <th>Postcode</th>
                <td>{{ user.Postcode }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('user_index') }}">back to list</a>

    <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
